.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Garante que o contêiner ocupe toda a altura da tela */
    padding: 20px; /* Adiciona espaçamento interno, se necessário */
}

.carousel-item-padding-40-px {
    padding: 0 40px;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 56px); /* Ajusta a altura para considerar o header */
    margin-top: 56px; /* Espaçamento entre o header e o carrossel */
    padding-top: 20px; /* Adiciona espaçamento interno no topo */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}